.pr-container{
  height: 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 8px 10px 8px;
    margin-top: 5px;
    gap: 4px;
    margin: 5px;
    margin-right: 50px;
    
   
}





.pr-content-container{
    display: flex;   
    align-items: center;
    gap: 16px;

}

@media (max-width:640px){
    .pr-content-container{
        display: none;
    }
}

.pr-content-img{
    width: 45px;
    
}

/*
.pr-content-name{

}

.pr-content-desc{

}*/

.pr-audio{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 10px;
    margin: auto;
    
}

.pr-audio-content{
    display: flex;
    gap: 14px;
}

.pr-audio-img{
    width: 15px;
    cursor: pointer;
}

.pr-audio-nav-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

/*
.pr-audio-nav-p{

}*/

.pr-audio-nav-sep{
    width: 60vw;
    max-width: 320px;
    background: gray;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 300;
}

.pr-audio-nav-hr{

    height: 3px;
    border:none;
    width: 10%;
    background: rgb(32, 141, 32);
    font-weight: 300;
    border-radius: 10px;
}

@media (max-width:600px) {
    .pr-audio-nav-sep{
       
    }
}

.pr-audio-tool{
    display: flex;
    align-items: center;
    gap:16px;
    opacity: 0.75px;

}


@media (max-width:640px){
    .pr-audio-tool{
        display: none;
    }
   
}


.pr-audio-tool-img{
    width: 20px;
}

.pr-audio-tool-sep{
    width: 40px;
    background: white;
    height: 3px;
    border-radius: 8px;

}
